---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* Colors */
$neu: #59fbea;
$enl: #44ed10;
$res: #106eed;

/**
 * Basic styling
 */
body {
  font-family: Coda, sans-serif;
  background: #000;
  color: $neu;
  margin: 0;
}

/* List Styles */

.gradient {
    background-image: -webkit-gradient( linear, left top, right top, from(rgba(24, 39, 38, 0.75)), to(rgba(24, 39, 38, 0)) );
    background-image: -moz-linear-gradient( left center, rgba(24, 39, 38, 0.75) 20%, rgba(24, 39, 38, 0) 95% );
}

#directoryhead {
    color: #00bab5;
    float: left;
    font-size: 24px;
    margin-bottom: 0;
    padding: 5px 20px;
    text-align: left;
    text-transform: uppercase;
    width: 70%;
}

.listheader {
  color: #1d5f5c;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 15px 0 10px 20px;
  text-align: left;
  text-transform: uppercase;
}

#communitylist ul {
  color: $neu;
  list-style-position: outside;
  list-style-type: none;
}
#communitylist li {
  margin-left: -20px;
  padding: 0 0 2px 0;
  font-size: 15px;
}
#communitylist ul li a {
  text-decoration: none;
  font-weight: normal;
}
.neu, .neu > a {
  color: $neu;
}
.enl, .enl > a {
  color: $enl;
}
.res, .res > a {
  color: $res;
}
#communitylist ul li a:hover {
  text-decoration: underline;
}

h4 {
    background-image: -webkit-gradient( linear, left top, right top, from(rgba(24, 39, 38, 0.75)), to(rgba(24, 39, 38, 0)) );
    background-image: -moz-linear-gradient( left center, rgba(24, 39, 38, 0.75) 20%, rgba(24, 39, 38, 0) 95% );
    color: #00bab5;
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0 0 0;
    padding: 3px 0 3px 20px;
    text-transform: uppercase;
    text-decoration: none;
  }

li.lock:before {
  font-family: 'FontAwesome';
  content: '\f023';
  margin:0 5px 0 -15px;
}

/* Layout */
.table {
    display: table;
    margin: 0 20px 20px 0;
    padding: 10px 10px 10px 0;
    width: 100%;
}

.row {
    display: table-row;
    padding: 15px 0;
    width: 100%;
}


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
