---
layout: default
---

<div id="directoryhead" class="gradient">
  Ingress Community Directory
</div>

<style>
@media screen and (max-width: 480px){
	.grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 769px) {
	.grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
</style>

<div id="communitylist">
  <div class="table">
    {% for country in site.data.data %}
      <div class="row">
        <div class="listheader">{{ country.name }}</div>
      </div>
      <div class="row">
        <div class="grid" data-columns>
          {% for state in country.states %}
            <div class="grid-item">
              <h4>{{ state.name }} </h4>
              <ul>
                {% for community in state.communities %}
                  <li class="{{ community.faction }}{% if community.private %} lock{% endif %}"><a href="{{ community.link }}">{{ community.name }}</a></li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/salvattore/1.0.9/salvattore.min.js"></script>
